<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <img class="logo rounded-circle"
             src="/static/images/logo.jpg"
             alt="company-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view devices' %}">All Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add device' %}">Add Device</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about page' %}">About Us</a>
            </li>
            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin landing page' %}">ADMIN</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user profile' user.pk %}">
                        {% if user.userprofile.profile_picture.url %}
                        <img width="30" height="30" class="rounded-circle"
                             src="{{ user.userprofile.profile_picture.url }}"
                             alt="photo">
                        {% else %}
                            <img width="30" height="30" class="rounded-circle"
                             src="/media/profiles/default-profile.jpg"
                             alt="photo">
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'logout user' %}>Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login user' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'register user' %}>Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
