{% extends 'shared/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <h1 class="text-center">Create Device</h1>
    <div class="row d-flex justify-content-center">
        <form class="form" method="post" action="{% url 'add device' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}