{% extends 'shared/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <h1 class="text-center">Login</h1>
    <div class="row d-flex justify-content-center">
        <form class="form" method="post" action="{% url 'login user' %}">
            {% csrf_token %}
            {% bootstrap_form login_form %}
            {% buttons %}
                <button class="btn btn-primary">Login</button>
            {% endbuttons %}
            <p>or <a href="{% url 'register user' %}">register</a></p>
        </form>
    </div>
{% endblock  %}