{% extends 'shared/base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    {% if profile.userprofile.profile_picture.url %}
                        <img width="200" src="{{ profile.userprofile.profile_picture.url }}"
                             alt="default image" class="img">
                    {% else %}
                        <img width="200" src="/media/profiles/default-profile.jpg"
                             alt="default image" class="img">
                    {% endif %}
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container">
                        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                    </div>
                    <hr>
                    <ul class="container details">
                        <li><p><span class="fas fa-phone-alt"
                                     style="width:50px;"></span>{{ profile.userprofile.phone_number }}
                        </p></li>
                        <li><p><span class="fas fa-envelope" style="width:50px;"></span>{{ profile.email }}
                        </p></li>
                        <li><p class="text-capitalize"><span class="fas fa-map-marked-alt"
                                                             style="width:50px;"></span>{{ profile.userprofile.location }}
                        </p>
                        </li>
                        <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com
                        </a></p></li>
                    </ul>
                    {% if is_superuser or is_owner %}
                        <a class="btn btn-success btn-sm" href="{% url 'edit profile' profile.id %}">Edit</a>
                        <a class="btn btn-info btn-sm" href="{% url 'change password' profile.id %}">Change Password</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'delete profile' profile.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <h4 class="font-italic">Leave a comment</h4>
                {% if comment_form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ comment_form.text.errors }}
                    </div>
                {% endif %}
                {{ comment_form.text }}
                <button class="btn btn-primary mt-2">Send</button>
            </form>
        </div>
        {% for comment in comments %}
            <ul>
            <li>{{ comment.text }}</li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}