<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SecondTech</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png"
          href="https://t4.ftcdn.net/jpg/03/21/60/65/360_F_321606578_fBJ7x4sw4ZOoV7PGCeFo2Q8VrCUvUle0.jpg">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block stylesheet %}{% endblock %}
</head>
<body class="bg-light">
{% include 'navbar/navbar.html' %}
<div class="container-fluid">
    {% block content %}
        Your content here.
    {% endblock %}
</div>
</body>
</html>